
# Python
__pycache__/
*.py[cod]
*.pyo
*.so
.venv/
env/
venv/

# Data & weights
data/
weights/
runs/
*.pt
*.pth
*.onnx

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
